* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.myRow {
  height: 100%;
  display: flex;
  flex: 1;

}

.sidemenu {
  flex: 0 0 20vw;
  order: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(200, 200, 200);
}

.content {
  background-color: rgb(255, 255, 255);
  flex: 1;
  order: 2;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: .2rem;
}

footer,
header {
  /* display: flex; */
  /* align-items: center; */
  /* height: 10vh; */
  background-color: rgb(110, 238, 93);
  box-shadow: 0 2px 4px rgb(129, 129, 129);
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mailList {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mailpreview {
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 2rem;
}

li:last-child {
  border: none;
}




/* MATERIALIZE CUSTOMIZATIONS */

.page-footer .footer-copyright {
  text-align: center;
}

.collection {
  margin-top: .2rem;
  border: 0;
}